In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('/Users/yunlei/Desktop/MGMT 478/Combined dataset_nonsort 2 .xlsx')

In [3]:
data.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,PRCP,TAVG,TMAX,TMIN,Unnamed: 11
0,USW00014835,"LAFAYETTE PURDUE UNIVERSITY AIRPORT, IN US",40.41236,-86.94739,181.7,2010-01,8.5,1.01,23.5,29.5,17.5,NaN
1,USW00014835,"LAFAYETTE PURDUE UNIVERSITY AIRPORT, IN US",40.41236,-86.94739,181.7,2010-02,7.6,0.61,26,32.8,19.1,NaN
2,USW00014835,"LAFAYETTE PURDUE UNIVERSITY AIRPORT, IN US",40.41236,-86.94739,181.7,2010-03,7.2,3.22,44.8,55.1,34.6,NaN
3,USW00014835,"LAFAYETTE PURDUE UNIVERSITY AIRPORT, IN US",40.41236,-86.94739,181.7,2010-04,8.1,2.49,58.1,70.4,45.8,NaN
4,USW00014835,"LAFAYETTE PURDUE UNIVERSITY AIRPORT, IN US",40.41236,-86.94739,181.7,2010-05,6.7,5.55,64.7,75.2,54.2,NaN

In [4]:
data.shape

(4992, 12)

In [5]:
data = data.drop("Unnamed: 11", axis = 1)#this column has some useless comment

In [6]:
data.shape

(4992, 11)

In [7]:
data.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,PRCP,TAVG,TMAX,TMIN
0,USW00014835,"LAFAYETTE PURDUE UNIVERSITY AIRPORT, IN US",40.41236,-86.94739,181.7,2010-01,8.5,1.01,23.5,29.5,17.5
1,USW00014835,"LAFAYETTE PURDUE UNIVERSITY AIRPORT, IN US",40.41236,-86.94739,181.7,2010-02,7.6,0.61,26,32.8,19.1
2,USW00014835,"LAFAYETTE PURDUE UNIVERSITY AIRPORT, IN US",40.41236,-86.94739,181.7,2010-03,7.2,3.22,44.8,55.1,34.6
3,USW00014835,"LAFAYETTE PURDUE UNIVERSITY AIRPORT, IN US",40.41236,-86.94739,181.7,2010-04,8.1,2.49,58.1,70.4,45.8
4,USW00014835,"LAFAYETTE PURDUE UNIVERSITY AIRPORT, IN US",40.41236,-86.94739,181.7,2010-05,6.7,5.55,64.7,75.2,54.2

In [8]:
data['DATE'] = pd.to_datetime(data['DATE'])
data['YEAR'] = data['DATE'].dt.year
data['MONTH'] = data['DATE'].dt.month

In [9]:
station_unique = data['STATION'].unique().tolist()

In [10]:
data = data[['STATION','NAME','YEAR','MONTH','PRCP']]

In [11]:
data.isnull().sum()

STATION     0
NAME        0
YEAR        0
MONTH       0
PRCP       37
dtype: int64

In [12]:
# Use median of Precipition to fill out the NAN
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')
data[['PRCP']] = imputer.fit_transform(data[['PRCP']])

In [13]:
data.isnull().sum()

STATION    0
NAME       0
YEAR       0
MONTH      0
PRCP       0
dtype: int64

In [14]:
data['STATION'].unique() # Now, we have 32 weather stations

array(['USW00014835', 'USW00014848', 'USC00120784', 'USW00014827',
       'USW00093819', 'USW00053866', 'USW00093810', 'USW00094892',
       'USW00094846', 'USC00114355', 'USC00116011', 'USW00014606',
       'USW00094626', 'USW00054772', 'USC00174193', 'USC00174927',
       'USW00023174', 'USW00023234', 'USW00023188', 'USW00093225',
       'USW00093193', 'USC00251825', 'USC00473186', 'USW00093009',
       'USC00213104', 'USW00003947', 'USW00013866', 'USS0021A01S',
       'USC00459376', 'USW00004205', 'USS0021B48S', 'USS0021C28S'],
      dtype=object)

In [15]:
weather_station_data = data[data['STATION']== 'USW00014835']

In [16]:
weather_station_data

,STATION,NAME,YEAR,MONTH,PRCP
0,USW00014835,"LAFAYETTE PURDUE UNIVERSITY AIRPORT, IN US",2010,1,1.01
1,USW00014835,"LAFAYETTE PURDUE UNIVERSITY AIRPORT, IN US",2010,2,0.61
2,USW00014835,"LAFAYETTE PURDUE UNIVERSITY AIRPORT, IN US",2010,3,3.22
3,USW00014835,"LAFAYETTE PURDUE UNIVERSITY AIRPORT, IN US",2010,4,2.49
4,USW00014835,"LAFAYETTE PURDUE UNIVERSITY AIRPORT, IN US",2010,5,5.55
...,...,...,...,...,...
163,USW00014835,"LAFAYETTE PURDUE UNIVERSITY AIRPORT, IN US",2023,8,3.54
164,USW00014835,"LAFAYETTE PURDUE UNIVERSITY AIRPORT, IN US",2023,9,0.59
165,USW00014835,"LAFAYETTE PURDUE UNIVERSITY AIRPORT, IN US",2023,10,3.21
166,USW00014835,"LAFAYETTE PURDUE UNIVERSITY AIRPORT, IN US",2023,11,0.48
167,USW00014835,"LAFAYETTE PURDUE UNIVERSITY AIRPORT, IN US",2023,12,2.48

In [17]:
weather_station_data['PRCP_lag_1_year'] = weather_station_data['PRCP'].shift(12)

/var/folders/cr/ls79phkx4vb_rmnkc6h2ddqh0000gn/T/ipykernel_73283/1927566781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_station_data['PRCP_lag_1_year'] = weather_station_data['PRCP'].shift(12)

In [18]:
df = weather_station_data[(weather_station_data['YEAR'] >= 2015) & (weather_station_data['YEAR'] <= 2023)]

In [19]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(df['PRCP'], df['PRCP_lag_1_year'])
print(mse)

5.04803888888889

In [20]:
def get_basic_model_data(weather_station):
    '''
    From 2015 to 2023, actual data from last year was used as the precipitation projection for next year, 
    and then compared to this year's actual data to derive the mse.
    '''
    weather_station_data = data[data['STATION']== weather_station]
    weather_station_data['PRCP_lag_1_year'] = weather_station_data['PRCP'].shift(12)
    df=weather_station_data[weather_station_data['YEAR']>=2015]
    mse = mean_squared_error(df['PRCP'], df['PRCP_lag_1_year'])
    return mse

In [21]:
get_basic_model_data('USW00014835')

/var/folders/cr/ls79phkx4vb_rmnkc6h2ddqh0000gn/T/ipykernel_73283/4065321984.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weather_station_data['PRCP_lag_1_year'] = weather_station_data['PRCP'].shift(12)

5.04803888888889

In [22]:
station_counts = data.groupby('STATION').size()

In [23]:
stations_with_enough_records = station_counts[station_counts >= 167].index

In [24]:
valid_stations = data[
    (data['YEAR'] == 2010) & 
    (data['STATION'].isin(stations_with_enough_records))
][['STATION', 'NAME']].drop_duplicates()

In [25]:
valid_stations #24 of 32 well-recorded weather stations

          STATION                                               NAME
0     USW00014835         LAFAYETTE PURDUE UNIVERSITY AIRPORT, IN US
168   USW00014848                          SOUTH BEND AIRPORT, IN US
336   USC00120784              BLOOMINGTON INDIANA UNIVERSITY, IN US
503   USW00014827            FORT WAYNE INTERNATIONAL AIRPORT, IN US
671   USW00093819          INDIANAPOLIS INTERNATIONAL AIRPORT, IN US
839   USW00053866               SHELBYVILLE MUNICIPAL AIRPORT, IN US
1007  USW00093810        CARBONDALE SOUTHERN ILLINOIS AIRPORT, IL US
1176  USW00094892         CHICAGO WEST CHICAGO DUPAGE AIRPORT, IL US
1345  USW00094846         CHICAGO OHARE INTERNATIONAL AIRPORT, IL US
1514  USC00114355                        ILLINOIS CITY DAM 16, IL US
2405  USW00023174           LOS ANGELES INTERNATIONAL AIRPORT, CA US
2574  USW00023234         SAN FRANCISCO INTERNATIONAL AIRPORT, CA US
2743  USW00023188             SAN DIEGO INTERNATIONAL AIRPORT, CA US
2912  USW00093225             SACRAMENTO METROPOLITAN AIRPORT, CA US
3081  USW00093193               FRESNO YOSEMITE INTERNATIONAL, CA US
3250  USC00251825                               COLUMBUS 3 NE, NE US
3419  USC00473186                                      GORDON, WI US
3586  USW00093009                   LEADVILLE LAKE CO AIRPORT, CO US
3890  USW00003947           KANSAS CITY INTERNATIONAL AIRPORT, MO US
4060  USW00013866  CHARLESTON WEST VIRGINIA INTERNATIONAL YEAGER ...
4230  USS0021A01S                                 BEAVER PASS, WA US
4400  USC00459376                              WINTHROP 1 WSW, WA US
4652  USS0021B48S                              ALPINE MEADOWS, WA US
4822  USS0021C28S                             WHITE PASS E.S., WA US

In [26]:
valid_stations['overall_mse'] = valid_stations.apply(lambda row: get_basic_model_data(row['STATION']), axis=1)

In [27]:
valid_stations

,STATION,NAME,overall_mse
0,USW00014835,"LAFAYETTE PURDUE UNIVERSITY AIRPORT, IN US",5.048039
168,USW00014848,"SOUTH BEND AIRPORT, IN US",7.061131
336,USC00120784,"BLOOMINGTON INDIANA UNIVERSITY, IN US",9.845232
503,USW00014827,"FORT WAYNE INTERNATIONAL AIRPORT, IN US",4.807214
671,USW00093819,"INDIANAPOLIS INTERNATIONAL AIRPORT, IN US",7.476287
839,USW00053866,"SHELBYVILLE MUNICIPAL AIRPORT, IN US",5.770738
1007,USW00093810,"CARBONDALE SOUTHERN ILLINOIS AIRPORT, IL US",8.370190
1176,USW00094892,"CHICAGO WEST CHICAGO DUPAGE AIRPORT, IL US",5.383623
1345,USW00094846,"CHICAGO OHARE INTERNATIONAL AIRPORT, IL US",6.477995
1514,USC00114355,"ILLINOIS CITY DAM 16, IL US",5.634384
2405,USW00023174,"LOS ANGELES INTERNATIONAL AIRPORT, CA US",4.424660
2574,USW00023234,"SAN FRANCISCO INTERNATIONAL AIRPORT, CA US",7.138362
2743,USW00023188,"SAN DIEGO INTERNATIONAL AIRPORT, CA US",2.174784
2912,USW00093225,"SACRAMENTO METROPOLITAN AIRPORT, CA US",6.179782
3081,USW00093193,"FRESNO YOSEMITE INTERNATIONAL, CA US",2.245106
3250,USC00251825,"COLUMBUS 3 NE, NE US",4.078271
3419,USC00473186,"GORDON, WI US",5.247649
3586,USW00093009,"LEADVILLE LAKE CO AIRPORT, CO US",0.965490
3890,USW00003947,"KANSAS CITY INTERNATIONAL AIRPORT, MO US",11.471798
4060,USW00013866,CHARLESTON WEST VIRGINIA INTERNATIONAL YEAGER ...,6.784164
4230,USS0021A01S,"BEAVER PASS, WA US",23.729862
4400,USC00459376,"WINTHROP 1 WSW, WA US",1.230990
4652,USS0021B48S,"ALPINE MEADOWS, WA US",84.883579
4822,USS0021C28S,"WHITE PASS E.S., WA US",8.959788

In [28]:
valid_stations['overall_mse'].mean()

9.807879888798867